venv/
.env
.pylintrc

# Python
*.pyc
*.pyo
*.pyd
__pycache__
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
db.sqlite3
media

# Development
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak
*.bak2
*.bak3
*.db

# Environment
.env
.venv
ENV/
env/
venv/
ENV.bak/
env.bak/
venv.bak/

# Database
*.sqlite3
*.sqlite

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery
celerybeat-schedule
celerybeat.pid

# Sphinx documentation
docs/_build/

# PyBuilder
target/